<!-- home -->
<div class=" addGroup">
    <button type="button" class="btn btn-lg btn-info col-sm-offset-8" ng-click="addGroup()">AJOUTER UN GROUPE</button>
</div>
<!-- progress -->

<!-- newGroup -->
<div class="border">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputCreateur" class="col-sm-2 control-label">Organisateur</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCreateur" placeholder="Organisateur" ng-model="createur">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
            </div>
        </div>
    </form>
    <br/>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputAmi1" class="col-sm-2 control-label">Ami 1</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi1" placeholder="Ton nom" ng-model="ami1">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi2" class="col-sm-2 control-label">Ami 2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi2" placeholder="Ton nom" ng-model="ami2">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi3" class="col-sm-2 control-label">Ami 3</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi3" placeholder="Ton nom" ng-model="ami3">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi4" class="col-sm-2 control-label">Ami 4</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi4" placeholder="Ton nom" ng-model="ami4">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi5" class="col-sm-2 control-label">Ami 5</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi5" placeholder="Ton nom" ng-model="ami5">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi6" class="col-sm-2 control-label">Ami 6</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi6" placeholder="Ton nom" ng-model="ami6">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi7" class="col-sm-2 control-label">Ami 7</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi7" placeholder="Ton nom" ng-model="ami7">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi8" class="col-sm-2 control-label">Ami 8</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi8" placeholder="Ton nom" ng-model="ami8">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAmi9" class="col-sm-2 control-label">Ami 9</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputAmi9" placeholder="Ton nom" ng-model="ami9">
            </div>
        </div>
    </form>
    <div class="addGroup">
      <button type="submit" class="btn btn-success col-sm-offset-2 col-sm-8" ng-click="addForm()">ENVOYER</button>
    </div>
</div>

<!-- choises -->
<div class="border">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-offset-3 col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="typeOfPlace" value="plage" ng-model="place">
                        Plage
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="typeOfPlace" value="montagne" ng-model="place">
                        Montagne
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="typeOfPlace" value="auVert" ng-model="place">
                        Au vert
                    </label>
                </div>
            </div>

          <div class="col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="climat" value="auFroid" ng-model="weather">
                        Au froid
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="climat" value="auChaud" ng-model="weather">
                        Au chaud
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="territoire" value="france" ng-model="land">
                        France
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="territoire" value="etranger" ng-model="land">
                        Etranger
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="addGroup">
      <button type="submit" class="btn btn-success col-sm-offset-2 col-sm-8 btFrm" ng-click="addDestination()">ENVOYER</button>
    </div>
</div>

<br/><br/><br/>
<!-- whoAmI -->

<div class="border">
    <ul ng-repeat="group in groupes">
        <li>
            <h1>{{Los Amigos}}</h1>
        </li>
    </ul>
</div>

<!-- result -->

<!-- buttonGroup -->
<div class="border">
    <button type="button" class="btn btn-default btn-lg btn-block col-sm-4" ng-click="showGroup()">LE GROUPE</button>
</div>
<br/><br/><br/>
