

<!-- home -->
<div class="addGroup" ng-show="view=='createBtn'">
  <button type="button" class="btn btn-lg btn-info col-sm-offset-8" ng-click="view = 'newGroup'">CRÉER UN GROUPE</button>
  <!-- {{users}} -->
</div>

<!-- buttonGroup -->
<div class="border" ng-show="groupName == 'LES BRONZES'">
  <div type="button" class="col-sm-4" ng-click="view = 'whoAmI'">{{groupName}}</div>
</div>

<!-- progress -->

<!-- newGroup -->
<div class="border" ng-show="view=='newGroup'">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputCreateur" class="col-sm-2 control-label">Nom du Groupe</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputCreateur" placeholder="Nom du Groupe" ng-model="createur">
            </div>
        </div>
    </form>
    <br/>
    
    <div ng-repeat="user in users">
      {{user.name}} -- {{user.email}}
    </div>


    <button type="button" class="btn btn-success col-sm-offset-2 col-sm-8 paddingBottom" ng-click="view = 'choises'; addGroupName()">ENVOYER</button>
</div>

<!-- choises -->
<div class="border" ng-show="view == 'choises'">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-offset-3 col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="typeOfPlace" value="plage" ng-model="place">
                        Plage
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="typeOfPlace" value="montagne" ng-model="place">
                        Montagne
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="typeOfPlace" value="auVert" ng-model="place">
                        Au vert
                    </label>
                </div>
            </div>

          <div class="col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="climat" value="auFroid" ng-model="weather">
                        Au froid
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="climat" value="auChaud" ng-model="weather">
                        Au chaud
                    </label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="radio">
                    <label>
                        <input type="radio" name="territoire" value="france" ng-model="land">
                        France
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="territoire" value="etranger" ng-model="land">
                        Etranger
                    </label>
                </div>
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-success col-sm-offset-2 col-sm-8 btnFormRadio" ng-click="view = 'btnGroup'">ENVOYER</button>
</div>

<br/><br/><br/>
<!-- whoAmI -->

<div class="border" ng-show="view == 'whoAmI'">
    <ul ng-repeat="group in groupes">
        <li>
            <h1>{{Los Amigos}}</h1>
        </li>
    </ul>
</div>

<!-- result -->

<br/><br/><br/>
