<div class="page-header">
  <h1>Flapper News</h1>
</div>

<div ng-repeat="user in users">
  <span style="font-size:20px; margin-left:10px;">
    <a ng-show="user.email" href="{{user.email}}">
      {{user.name}}
    </a>
    <span ng-hide="user.email">
      {{user.name}}
    </span>
  </span>
  <span>
    <a href="#/users/{{user.id}}">Comments</a>
  </span>
</div>

<form ng-submit="addUser()"
  style="margin-top:30px;">
  <h3>Add a new user</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" ng-model="name"></input>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="email"></input>
  </div>
  <button type="submit" class="btn btn-primary" ng-click='addPost()'>User</button>
</form>
